/**************************************** 头部/内容/尾部统一样式 ************************** */
/* # id选择器 */
#head, #content, #foot {
    width: 100%;
    min-width: 1200px;
}

#content {
    background: #f7f7f7;
    box-sizing: border-box;
    padding: 70px 8%;
}

#foot {
    box-sizing: border-box;
    padding: 65px 8% 25px;
}
/**************************************** 头部 **************************************** */
#head {
    position: relative;
}
/* > 子类选择器 */
#head > img {
    width: 100%;
    height: 100%;
    /* 透明滤镜 */
    filter: opacity(65%);
} 

/* . class选择器 */
#head > .wrapper {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    /* 绝对定位 */
    position: absolute;
    top: 0;
    left: 0;    
}
/* 空格：后代选择器 */
#head .top-box {
    height: 93px;
    /* 设置字体大小 */
    font-size: 14px;
    /* 弹性布局：布局子元素 */
    display: flex;
    /* 主轴对齐方式（水平） */
    justify-content: space-between;
    /* 交叉轴（垂直） */
    align-items: flex-end;
    /* 设置内间距 */
    box-sizing: border-box;
    /* padding：上 水平 下 */
    padding: 10px 40px 0;
}
#head .top-box .logo {
    height: 64px;
}
#head .menu-list li {
    /* 修改元素显示方式
       inline-block：行内块元素（不独占一行，具备尺寸） */
    display: inline-block;
    margin: 0 25px;
    padding-bottom: 8px;
    position: relative;
}
/* ：after 伪类选择器，在指定元素后添加内容 */
#head .menu-list li:after {
    /* 指定插入内容 
    注意：哪怕没有内容，也必须添加该属性
    否者无效*/
    content: "";
    display: block;
    width: 0;
    height: 1px;
    transition: all .25s ease-in;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 50%;
    /* 居中 */
    transform: translateX(-50%);
}
#head .menu-list li.sel:after {
    width: 100%;
}
/* :hover 鼠标悬浮 */
#head .menu-list li:hover:after {
    width: 100%;
}

#head .menu-list a {
    color: #fff;
}

#head .login-register-box {
    display: flex;
    /* 字体颜色 */
    color: #fff;
    padding-bottom: 8px;
}
#head .login-register-box .item {
    display: flex;
    align-items: center;
    margin-left: 12px;
    cursor: pointer;
}
#head .login-register-box .item img {
    margin-right: 6px;
}
#head .login-register-box img {
    width: 20px;
}

#head .infos {
    /* 设置文本内容水平居中 */
    text-align: center;
    color: #fff;
    margin-top: 140px;
    /* 设置字体名称 */
    font-family: arial;
}
#head .infos h1 {
    font-size: 48px;
    margin: 35px 0;
}

#head .infos .btn {
    color: rgb(236, 79, 98);
    display: inline-block;
    width: 170px;
    height: 35px;
    background: #fff;
    /* 设置圆角 */
    border-radius: 5px;
    /* 设置行高 */
    line-height: 35px;
    margin-top: 25px;
    /* 设置鼠标指针样式为手指头 */
    cursor: pointer;
    /* 过渡效果 */
    transition: all .25s linear;
}
#head .infos .btn:hover {
    background: #e7e7e7;
}
#head .infos .down {
    display: block;
    width: 50px;
    margin: 120px auto 0;
}


/**************************************** 尾部 **************************************** */
#foot {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#foot h3 {
    color: #808080;
    font-weight: normal;
    margin-bottom: 20px;
}

/* 联系我们 */
#foot .contact h1 {
    font-size: 20px;
    color: #808080;
    margin-bottom: 20px;
}
#foot .contact p {
    font-family: arial;
    font-size: 14px;
    color: #a9a9a9;
}

/* 定制服务 */
#foot .service .info-list {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#foot .service .info-list li {
    width: 190px;   
    font-size: 13px;
    color: #a9a9a9;
    line-height: 30px;
}
#foot .service .info-list li:last-child {
    width: 100%;
}

/* 关注我们 */
#foot .focus img {
    width: 112px;
}

/* links */
#foot .links  img{
    width: 32px;
    margin-right: 12px;
    cursor: pointer;
}
/* --------------侧边栏-------------- */
aside {
    width: 54px;
    height: calc(5 * 54px);
    /* 固定定位 */
    position: fixed;
    right: 0;
    top: 50%;
    /* 向上移动50% */
    transform: translateY(-50%);
}
aside .list li {
    width: 100%;
    height: 54px;
    background: #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* 选第三个子元素 */
aside .list li:nth-child(3) {
    background: #f27567;
}

aside .list li:hover {
    background: #f2756f;
}

aside .list li img {
    width: 32px;
    height: 32px;
}