#content {
    display: flex;
    justify-content: space-between;
}

#map {
    width: calc(100% - 430px);
    height: 480px;
    background: red;
}

#content .infos {
    width: 380px;
}

.infos .title {
    font: normal 20px "微软雅黑";
    color: #808080;
    letter-spacing: 2px;
    margin-bottom: 35px;
}

#content .infos .title span {
    font-size: 14px;
    color: rgb(169, 169, 169);
}

#content .infos p {
    font-size: 13px;
    color: rgb(169, 169, 169);
    line-height: 25px;
}

/* :first-child 父元素中的首个子元素 */
#content .infos .item:first-child {
    margin-bottom: 65px;
}